// Fichier dédier au footer afin de pouvoir l'utiliser sur plusieurs pages.

.footer {
	width: 100%;
	background-color: var(--bg-dark);
	color: var(--txt-light);
	padding: 12px 0px 12px 16px;
	&__title {
		font-family: 'Fraunces', sans-serif;
		font-weight: 400;
		font-size: 22px;
		margin-bottom: 16px;
		& span {
			font-family: 'FrauncesItal', serif;
			font-weight: 900;
		}
	}
	&__sec {
		&__links {
			display: flex;
			flex-direction: column;
			&-span {
				margin-bottom: 9px;
				&:nth-of-type(4) {
					margin-bottom: 0px;
				}
			}
			&-span a {
				text-decoration: none;
				color: var(--txt-light);
				font-family: 'Opensauce_light', sans-serif;
				font-style: normal;
				font-size: 16px;
				& svg {
					width: 16px;
					height: 16px;
					stroke: var(--bg-color);
					stroke-width: 1px;
					margin-right: 6px;
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.footer {
		padding: 16px 0px 16px 32px;
		&__title {
			font-size: 24px;
			margin-bottom: 0;
		}
		&__sec {
			display: grid;
			grid-template-columns: auto 1fr;
			justify-items: center;
			&__links {
				flex-direction: row;
				align-items: center;
				&-span {
					margin-right: 24px;
					margin-bottom: 0;
					&:nth-of-type(4) {
						margin-right: 0px;
						margin-bottom: 0;
					}
				}
				&-span a {
					display: flex;
					align-items: center;
					font-size: 16px;
				}
			}
		}
	}
}
