.header {
	background-color: #ffffff;
	display: grid;
	grid-template-columns: auto 1fr;
	&__title {
		background-color: var(--bg-color);
		display: flex;
		justify-content: center;
		font-family: 'Fraunces', sans-serif;
		font-weight: 400;
		padding: 13px 0;
		margin-right: 16px;
		&-bold {
			font-family: 'FrauncesItal', serif;
			font-weight: 900;
		}
	}
	&__arrow {
		display: flex;
		align-items: center;
		margin-left: 16px;
	}
}

@media screen and (min-width: 767.8px) {
	.header {
		&__title {
			margin-right: 32px;
		}
		&__arrow {
			margin-left: 32px;
		}
	}
}
