*, ::before, ::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgba(210, 210, 210, 0.22);
}

.loader {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6980392157);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loaderend 2.3s forwards 2.3s;
  z-index: 3;
}
.loader__dot {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 15px;
  animation: loader 3s forwards;
  border: #000000 solid 1px;
}
.loader .d1 {
  background-color: #99E2D0;
  animation: loader 1s;
}
.loader .d2 {
  background-color: #FF79DA;
  animation: loader 2s;
}
.loader .d3 {
  background-color: #9356DC;
  animation: loader 3s;
}

@keyframes loaderend {
  from {
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    transform: translateY(-40px);
  }
}
.header__title {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand", sans-serif;
  padding: 10px 0 8px;
  background-color: #FFFFFF;
}
.header__location {
  display: flex;
  justify-content: center;
  color: #353535;
  background-color: rgba(210, 210, 210, 0.25);
  font-weight: 500;
  width: 100%;
  padding: 15px 0 15px;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__location__pin {
  padding-right: 15px;
}

.homepage__header {
  text-align: center;
  padding: 30px 30px 60px 30px;
}
.homepage__header h2 {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  padding: 0 15px;
}
.homepage__header__subtitle {
  font-weight: 300;
  font-size: 18px;
  color: #353535;
  margin: 15px 0 40px;
}
.homepage__header__btn a {
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  background: linear-gradient(0.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-size: 16px;
  padding: 15px;
}

.function {
  gap: 20px;
  background-color: #FFFFFF;
  padding: 30px 15px;
}
.function h2 {
  margin: 15px 0 28px 4px;
}
.function__cards {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}
.function__card__style {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 20px;
  margin: 0 0 21px 13px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.function__card__style__number {
  position: absolute;
  left: -11px;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 3px 8px;
  color: #FFFFFF;
}
.function__card__style__text {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.function__card__style__icon {
  padding: 3px 7px;
}
.function__card__style:hover {
  transition: all 0.7s linear;
  background-color: rgba(146, 86, 220, 0.1921568627);
}

.restaurants {
  padding: 30px 15px;
}
.restaurants h2 {
  margin: 10px 0 20px 4px;
}
.restaurants__cards__style {
  border-radius: 15px;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  position: relative;
}
.restaurants__cards__style a {
  width: 100%;
  height: 100%;
  color: transparent;
  position: absolute;
  z-index: 1;
}
.restaurants__cards__style__new {
  position: absolute;
  right: 5%;
  top: 5%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: #99E2D0;
  color: #008766;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 6px 8px;
}
.restaurants__cards__style img {
  width: 100%;
  height: 165px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants__cards__style__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}
.restaurants__cards__style__content__txt h3 {
  margin-bottom: 4px;
}
.restaurants__cards__style__content__txt p {
  margin-bottom: 4px;
}
.restaurants__cards__style__content__rating {
  display: flex;
  align-items: start;
  padding: 6px 11px 0 0;
  z-index: 2;
}

.footer {
  padding: 22px;
  background-color: #353535;
  color: #FFFFFF;
}
.footer__title {
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px;
}
.footer__sec {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.footer__sec__link {
  margin-bottom: 9px;
}
.footer__sec__link a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.footer__sec__link a svg {
  margin-right: 5px;
}

@media screen and (min-width: 767.8px) {
  .function {
    padding: 30px 15px;
  }
  .function__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .restaurants {
    padding: 30px 15px;
  }
  .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 40px;
    justify-items: stretch;
  }
  .restaurants__cards__style {
    margin-bottom: 0;
  }
  .footer {
    padding: 50px 35px 0 0px;
    height: 150px;
  }
  .footer__title {
    margin-left: 40px;
    margin-bottom: 0;
  }
  .footer__sec {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .footer__sec__link {
    margin: 9px;
  }
  .footer__sec__link a svg {
    margin-right: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .function {
    padding: 50px 80px;
  }
  .restaurants {
    padding: 50px 80px 80px 80px;
  }
  .restaurants__cards {
    gap: 50px 60px;
  }
}/*# sourceMappingURL=index.css.map */