@import "../css/mixin.scss";

body{
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
}


.header{
    &__title{
        display: flex;
        justify-content: center;
        font-family: 'Shrikhand', sans-serif;
        padding: 10px 0 8px;
        background-color: #FFFFFF;
    }
    &__location{
        display: flex;
        justify-content: center;
        color: #353535;
        background-color: #EAEAEA;
        font-weight: 500;
        width: 100%;
        padding: 15px 0 15px;
        box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
            &__pin{
                padding-right: 15px;
            }
    }
}

@include btn__anim;

.homepage__header{
    background-color: #F6F6F6;
    text-align: center;
    padding: 30px 30px 60px 30px;
        h2{
            color: #000000;
            font-weight: 700;
            font-size: 24px;
            padding: 0 15px;
        }
        &__subtitle{
            font-weight: 300;
            font-size: 18px;
            color: #353535;
            margin: 15px 0 40px;
        }
        &__btn a{
            font-weight: 500;
            color: #FFFFFF;
            text-decoration: none;
            background: linear-gradient(0.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 25px;
            font-size: 16px;
            padding: 15px;
        }
        &__btn a:hover{
            animation: btn__anim .25s forwards linear;
        }
}

.function{
    gap: 20px;
    background-color: #FFFFFF;
    padding: 30px 15px;
    h2{
        margin: 15px 0 28px 4px;
    }
    &__cards{
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        cursor: pointer;
    }
    &__card__style{
        display: flex;
        align-items: center;
        position: relative;
        background-color: #F6F6F6;
        border-radius: 20px;
        padding: 20px;
        margin: 0 0 21px 13px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            &__number{
                position: absolute;
                left: -11px;
                background-color: #9356DC;
                border-radius: 50%;
                padding: 3px 8px;
                color: #FFFFFF;
            }
            &__text{
                font-weight: 500;
                font-size: 16px;
                color: #000000;
            }
            &__icon{
                padding: 3px 7px;
            }
    }
    &__card__style:hover{
        transition: all .7s linear;
        background-color: #9256dc31;
    }
}


@include animationheart;

.restaurants{
    background-color: #F6F6F6;
    padding: 30px 15px;
    h2{
        margin: 10px 0 20px 4px;
    }
   &__cards{
        &__style{
            border-radius: 15px;
            background-color: #FFFFFF;
            margin-bottom: 20px;
            position: relative;
            & a{
                width: 100%;
                height: 100%;
                color: transparent;
                position: absolute;
                z-index: 1;
            }
            &__new{
                position: absolute;
                right: 5%;
                top: 5%;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                background: #99E2D0;
                color: #008766;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
                border-radius: 2px;
                padding: 6px 8px;
            }
            & img{
                width: 100%;
                height: 180px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                object-fit: cover;
            }
            &__content{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 12px;
                &__txt{
                    & h3{
                        margin-bottom: 4px;
                    }
                    & p{
                        margin-bottom: 4px;
                    }
                }
                    &__rating{
                        display: flex;
                        align-items:start;
                        fill-opacity: 0;
                        stroke: #000000;
                        padding: 6px 11px 0 0;
                        z-index: 2;
                        cursor: pointer;
                            & svg:hover{
                                animation: heart .8s forwards;
                            }
                    }
            }
        }
   }
}



@media screen and (min-width: 767.8px){
    .homepage__header{
            h2{
                font-size: 40px;
            }
    }
    .function{
        padding: 30px 15px;
        &__cards{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }     
    }
    .restaurants{
        padding: 30px 15px;
        &__cards{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px 40px;
            justify-items: stretch;
            &__style{
                margin-bottom: 0;
            }
        }
    }
}


@media screen and (min-width: 1024px){
    .function{
        padding: 50px 10%;
    }

    .restaurants{
        padding: 50px 10% 80px 10%;
            &__cards{
                gap: 50px 60px;
            }
    }
}

