@import "../css/mixin.scss";

@include loader;

.loader{
    position: fixed;
    background-color: #ffffffb2;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loaderend 2s forwards 3s alternate;
    z-index: 3;
        &__dot{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 0 13px;
            animation: loader 700ms infinite 1s alternate;
            border: 1px solid #0000006e;
            box-shadow: inset 8px -10px 4px 0px rgba(0, 0, 0, 0.15);
        }
        & .d1{
            background-color: #99E2D0;
            animation-delay: 0.15s;
        }
        & .d2{
            background-color: #FF79DA;
            animation-delay:  0.30s;
        }
        & .d3{
            background-color: #9880ff;
            animation-delay:  0.45s;
        }
}

