*, ::before, ::after{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}

@import "../css/mixin.scss";

.header{
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    &__title{
        text-align: center;
        font-family: 'Shrikhand', sans-serif;
        font-weight: 400;
        font-size: 30px;
        padding: 10px 0 8px;
    }
    &__arrow{
        display: flex;
        align-items: center;
       padding-left: 25px;
    }
}

.restaurant{
    &__img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

@include animationheart;
@include btn__anim;

.carte{
    position: relative;
    background-color: #F6F6F6;
    max-width: 1044px;
    margin: auto;
    display: flex;
    flex-direction: column;
    &__title{
        display: flex;
        position: absolute;
        background-color: #F6F6F6;
        border-radius: 40px 40px 0px 0px;
        top: -49px;
        width: 100%;
        align-items: center;
        padding: 42px 16px 0px 10px; 
            & h2{
                font-family: 'Shrikhand', sans-serif;
                font-weight: 400;
                font-size: 27px;
                margin-left: 2px;
            }
            & svg{
                margin: 0px 0px 7px 5%;
                fill-opacity: 0;
                stroke: #000000;
                cursor: pointer;
            }
            & svg:hover{
                animation: heart .9s forwards;
            }
        }
    &__button{
        display: flex;
        justify-content: center;
            & button{
                @include btn__style;
                border: none;
                font-weight: 500;
                font-size: 16px;
                padding: 15px 45px 15px 45px;
                margin: 40px;
            }
            & button:hover{
                animation: btn__anim .25s forwards linear;
            }
    }
}


@include menu__anim;

.menu{
    padding: 30px 8px 0px 8px;
    opacity: 0;
    &__title{
        padding-bottom: 3px;
        border-bottom: 3px solid #99E2D0;
        width: 30px;
        text-transform: uppercase;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
    }
    &__name{
        display: flex;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0px 1px 16px rgb(54 54 54 / 26%);
        margin: 14px 0 0px 0px;
        overflow: hidden;
            &__plat{
                display: flex;
                flex-direction: column;
                width: calc(85%);
                padding: 10px;
                    & h2{
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px; 
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        width: calc(100%);
                    }
                    & span{
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 15.0431px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        width: calc(100%);
                    }
            }
            &__price{
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                width: 15%;
                padding: 10px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 15.0431px;
            }
            &__check{
                background: #99E2D0;
                width: 55px;
                display: grid;
                place-items: center;
                margin-right: -4rem;
            }
            &:hover .menu__name__plat{
                animation: check 1s forwards linear;
            }      
    }
}

@keyframes check{
    from{
        margin-right: 0rem;
    }
    to{
        margin-right: -3.4rem;
    }
}

.menu--margin{
    margin-top: 35px;
}

.homepage__header{
        &__btn a{
            font-weight: 500;
            color: #FFFFFF;
            text-decoration: none;
            background: linear-gradient(0.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 25px;
            font-size: 16px;
            padding: 15px;
        }
}

.footer{
    padding: 22px;
    background-color: #353535;
    color: #FFFFFF;
    &__title{
        font-family: 'Shrikhand', sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 15px;
    }
    &__sec{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        &__link{
            margin-bottom: 9px;
            & a{
                text-decoration: none;
                color: #FFFFFF;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px; 
                & svg{
                    margin-right: 5px;
                }
            }
        }
    }
}



@media screen and (min-width: 767.8px){
    .carte{
        align-items: center;
    }
    .menu{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        width: 65%;
    }
    .footer{
        padding: 50px 35px 0 0px;
        height: 130px;
        &__title{
            margin: 0;
        }
        &__sec{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            &__link{
                margin: 9px;
                & a{
                    & svg{
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 425px){
    .carte{
            &__title{
                justify-content: center;
            }
    }
}