*, ::before, ::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header__title {
  text-align: center;
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 30px;
  padding: 10px 0 8px;
}
.header__arrow {
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.restaurant__img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes heart {
  0% {
    fill-opacity: 0;
    stroke: #000000;
    stroke-opacity: 1;
    transform: scale(1);
  }
  25% {
    fill-opacity: 0.2;
    stroke: #000000;
    stroke-opacity: 0.75;
  }
  50% {
    fill-opacity: 0.4;
    stroke: #000000;
    stroke-opacity: 0.5;
  }
  75% {
    fill-opacity: 0.6;
    stroke: #000000;
    stroke-opacity: 0.25;
  }
  85% {
    fill-opacity: 0.8;
    stroke: #000000;
    stroke-opacity: 0.25;
  }
  100% {
    fill-opacity: 1;
    stroke: #000000;
    stroke-opacity: 0;
    transform: scale(1.1);
  }
}
@keyframes btn__anim {
  0% {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(0.33deg, rgb(147, 86, 220) -11.44%, rgb(255, 121, 218) 123.93%);
  }
  25% {
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0.33deg, rgba(147, 86, 220, 0.9) -11.44%, rgba(255, 121, 218, 0.9) 123.93%);
  }
  50% {
    box-shadow: 0px 5.5px 14px rgba(0, 0, 0, 0.35);
    background: linear-gradient(0.33deg, rgba(147, 86, 220, 0.85) -11.44%, rgba(255, 121, 218, 0.85) 123.93%);
  }
  75% {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
    background: linear-gradient(0.33deg, rgba(147, 86, 220, 0.8) -11.44%, rgba(255, 121, 218, 0.8) 123.93%);
  }
  100% {
    box-shadow: 0px 6px 17px rgba(0, 0, 0, 0.45);
    background: linear-gradient(0.33deg, rgba(146, 86, 220, 0.725) -11.44%, rgba(255, 121, 217, 0.631) 123.93%);
  }
}
.carte {
  position: relative;
  background-color: #F6F6F6;
  max-width: 1044px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.carte__title {
  display: flex;
  position: absolute;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  top: -49px;
  width: 100%;
  align-items: center;
  padding: 42px 16px 0px 10px;
}
.carte__title h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 26px;
  margin-left: 2px;
}
.carte__title svg {
  margin: 0px 0px 7px 5%;
  fill-opacity: 0;
  stroke: #000000;
  cursor: pointer;
}
.carte__title svg:hover {
  animation: heart 0.9s forwards;
}
.carte__button {
  display: flex;
  justify-content: center;
}
.carte__button button {
  color: #FFFFFF;
  text-decoration: none;
  background: linear-gradient(0.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 45px 15px 45px;
  margin: 40px;
}
.carte__button button:hover {
  animation: btn__anim 0.25s forwards linear;
}

.plat1 {
  animation: menu__anim 1s forwards linear;
}

.plat2 {
  animation: menu__anim 1s forwards 0.5s linear;
}

.plat3 {
  animation: menu__anim 1s forwards 1s linear;
}

@keyframes menu__anim {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu {
  padding: 30px 8px 0px 8px;
  opacity: 0;
  font-family: "Roboto", sans-serif;
}
.menu__title {
  padding-bottom: 3px;
  border-bottom: 3px solid #99E2D0;
  width: 30px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}
.menu .menu-card {
  display: flex;
  width: 100%;
  margin: 10px 0px;
  padding: 0;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  border-radius: 15px;
  box-shadow: 0px 5px 8px rgba(213, 213, 213, 0.35);
  overflow: hidden;
  cursor: pointer;
}
.menu .menu-card__info {
  display: flex;
  width: 100%;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .menu-card__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 5px;
}
.menu .menu-card__description h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.menu .menu-card__description p {
  font-style: normal;
  font-weight: 300;
  font-size: 15.0431px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .menu-card__price {
  display: flex;
  align-items: flex-end;
  width: 15%;
  padding: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 15.0431px;
  justify-content: flex-end;
}
.menu .menu-card__checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 75px;
  margin-right: -75px;
  border-radius: 0px 15px 15px 0px;
  background-color: #99e2d0;
  transition: margin-right 0.9s ease-in-out;
}

.menu-card:hover .menu-card__checkout {
  margin-right: 0px;
}
.menu-card:hover .menu-card__checkout svg {
  animation: rotate_center 0.9s reverse ease-in-out;
}

@keyframes rotate_center {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu--margin {
  margin-top: 35px;
}

.homepage__header__btn a {
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  background: linear-gradient(0.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-size: 16px;
  padding: 15px;
}

.footer {
  padding: 22px;
  background-color: #353535;
  color: #FFFFFF;
}
.footer__title {
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px;
}
.footer__sec__links {
  display: flex;
  flex-direction: column;
}
.footer__sec__links-span {
  margin-bottom: 9px;
}
.footer__sec__links-span a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.footer__sec__links-span a svg {
  margin-right: 5px;
}

@media screen and (min-width: 767.8px) {
  .carte {
    align-items: center;
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    width: 65%;
  }
  .footer {
    padding: 50px 35px 0 0px;
    height: 130px;
  }
  .footer__title {
    margin: 0px 0 0 20px;
  }
  .footer__sec {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .footer__sec__link {
    margin: 9px;
  }
  .footer__sec__link a svg {
    margin-right: 5px;
  }
  .footer {
    padding: 50px 35px 0 0px;
    height: 130px;
  }
  .footer__title {
    margin: 0px 0 0 20px;
  }
  .footer__sec__links {
    flex-direction: row;
  }
  .footer__sec__links-span {
    margin: 5px;
  }
}
@media screen and (min-width: 425px) {
  .carte__title {
    justify-content: center;
  }
}/*# sourceMappingURL=menu.css.map */