@import '../css/mixin.scss';

body {
	font-family: 'Opensauce_light', sans-serif;
	color: var(--txt-color);
	min-height: 100vh;
}

.restaurant {
	position: relative;
	max-height: 500px;
	margin: 0px 16px 0px 16px;
	min-height: 250px;
	max-height: 250px;
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 0 60%;
		border-radius: 12px;
		min-height: 250px;
		max-height: 250px;
	}
	&__title {
		position: absolute;
		z-index: 2;
		color: var(--txt-light);
		width: 100%;
		bottom: 0px;
		left: 0px;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		padding: 16px;
		&-wrapper {
			h2 {
				font-weight: 100;
				font-size: 20px;
			}
			p {
				font-size: 16px;
			}
		}

		& svg {
			cursor: pointer;
			@include heart__style;
			width: 16px;
			height: 16px;
			transition: transform 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8), fill-opacity 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
		}
		& svg:hover {
			transform: scale(1.2);
			fill-opacity: 1;
		}
	}
	&__gradient {
		position: absolute;
		z-index: 1;
		bottom: 0;
		border-radius: 12px;
		height: 100%;
		width: 100%;
	}
	& .red {
		background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(91 9 11 / 60%) 120%);
	}
	& .yellow {
		background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(200 91 32 / 70%) 120%);
	}
	& .green {
		background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(39 52 34 / 60%) 120%);
	}
	& .light-green {
		background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(84 134 102 / 60%) 120%);
	}
}

.carte {
	margin: 0 16px 0 16px;
	display: flex;
	flex-direction: column;
	&__button {
		display: flex;
		justify-content: center;
		opacity: 0;
		animation: btn__appear 1s forwards 1.5s linear;
		& button {
			@include btn__style;
			border: none;
			font-weight: 500;
			font-size: 16px;
			padding: 15px 45px 15px 45px;
			margin: 40px;
			cursor: pointer;
		}
		& button:hover {
			@include btn__anim;
		}
	}
}

@include menu__anim;
@include checked__rotate;

.menu {
	margin: 32px 0px 0px 0px;
	opacity: 0;
	&__title {
		padding-bottom: 2px;
		margin-bottom: 12px;
		border-bottom: 2px solid var(--bg-accent-color);
		width: 34px;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
	}
	& .menu-card {
		display: flex;
		width: 100%;
		margin-bottom: 8px;
		padding: 0;
		background-color: var(--bg-dark);
		color: var(--txt-light);
		border-radius: 12px;
		overflow: hidden;
		cursor: pointer;
		&:nth-last-child(1) {
			margin-bottom: 0;
		}
		&__info {
			display: flex;
			width: 100%;
			margin: 8px 6px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&__description {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
			padding: 8px 6px;
			& h3 {
				margin-bottom: 1px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-family: 'Opensauce_regular';
				font-style: normal;
				font-weight: 300;
				font-size: 16px;
			}
			& p {
				font-style: normal;
				font-size: 14px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		&__price {
			display: flex;
			align-items: flex-end;
			width: 15%;
			padding: 5px;
			font-style: normal;
			font-size: 14px;
			justify-content: flex-end;
		}
		&__checkout {
			display: flex;
			align-items: center;
			justify-content: center;
			height: auto;
			width: 75px;
			margin-right: -75px;
			background-color: var(--bg-accent-color);
			transition: margin-right 0.8s ease-in-out;
			& svg {
				fill: var(--bg-dark);
			}
		}
	}
}

.menu-card:hover .menu-card__checkout {
	margin-right: 0px;
	& svg {
		animation: rotate_center 0.8s reverse ease-in-out;
	}
}

@media screen and (min-width: 1024px) {
	body {
		display: grid;
		grid-template-rows: auto 1fr auto;
	}
	.restaurant {
		margin: 0 32px 0 32px;
		max-height: 500px;
		max-width: 100%;
		&__img {
			max-width: 100%;
			max-height: 500px;
			min-height: 500px;
		}
	}
	.carte {
		display: grid;
		margin: 6vh 32px 8vh 32px;
		grid-template-columns: repeat(3, 1fr);
		align-items: start;
		grid-column-gap: 20px;
		&__button {
			grid-area: 5 / 2 / 6 / 3;
		}
	}
	.menu {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		justify-content: center;
		align-items: center;
	}
}

@media screen and (min-width: 425px) {
	.carte {
		&__title {
			justify-content: center;
		}
	}
}

@media screen and (max-width: 1024px) and (min-width: 767.8px) {
	.carte {
		margin: auto;
		max-width: 740px;
	}
}
